body{
  margin:10px;
  background-image: url("http://wallpapercave.com/wp/hS74rFf.jpg");
  background-size: cover;
  color:white;
}

.formoff {
  visibility: hidden;
}

.formon {
  visibility: visible;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
}

li {
  margin: 20px;
}

img {
  margin: 10px;
  width: 100vw;
  align-self: center;
}
